/* Custom properties: Propiedades creadas por nosotros (--nombre: variable) */
:root{
    --blanco: #FFF;
    --negro: #111111;
    --gris: #343A40;

    --fuentePrincipal: 'Raleway', sans-serif;
}

/* GLOBALES */

html{
    font-size: 62.5%; /* convierte 1rem = 10 px */ 
    box-sizing: border-box; /* si agremos un padding evita cambiar el tamño de ese elemento*/
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1.8; /* Distancia de interlineado */
}

h1, h2, h3{
    font-weight: 900;
    margin: 1rem 0 4rem 0;
}

h1 {
    font-size: 4.8rem;
}

h2{
    font-size: 5.8rem;
}

h3{
    font-size: 5rem;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%; /* para poder hacerlas responsive */
    display: block; /* evita que tengan la linea en la parte inferior */
}

.contenedor{
    max-width: 120rem; /* tamaño maximo del contenedor */
    margin: 0 auto; /* para que el contenido esté centrado */
    width: 90%; /* Toma el 90% del tamaño disponible sin pasar del max-width: 120 rem*/
}

.btn{
    color: var(--gris);
    background-color: var(--blanco);
    border: 1px solid var(--gris);
    padding: .5rem 2rem;
    transition: background-color .3s; /* Tiempo que tarda en hacer la transición del :hover*/
}

.btn:hover{
    background-color: var(--gris);
    color: var(--blanco);
}

/* UTILIDADES */
.text-center{
    text-align: center;
}

.mt-5{ /* clase para definir margen superior */
    margin-top: 5rem; 
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* HEADER */
.header{
    min-height: 60rem;
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 5rem 0;
}



.contenido-header{
    display: flex;
    flex-direction: column;
    height: calc(60rem - 4rem); /* Altura del header - padding top + padding bottom */
    justify-content: space-between;
    color: var(--blanco);
}

.nombre-sitio{
    font-weight: 300;
    text-align: center;
    font-size: 3rem;
}

@media (min-width: 769px) { 
   .nombre-sitio{
    font-size: 5rem;
   } 
}
.nombre-sitio span{
    font-weight: 900;
}

@media (min-width: 768px) { 
    .barra{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }    
}

.contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
}

@media (min-width: 768px) { 
    .contacto{
        align-items: end;
    }
}

.telefono{
    display: flex;
}
/* Video 156 min 8:00*/
.telefono::before{ /*::before es un pseudo-elemento son ideales para agregar iconos antes o despúes de un elemento */
    content: ""; 
    display: block; /* Las propiedades width y height solo afectan a elementos tipo block. No a los tipo inline. */
    width: 4rem;
    height: 4rem;
    background-image: url(../img/telefono.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 1rem;  
}


.header a {
    color: var(--blanco);
    font-size: 2rem;
}

.navegacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
}

@media (min-width: 768px) { 
    .navegacion{
        flex-direction: row;
      
    }
}

.navegacion a{
    padding: .5rem;
    transition: 300ms;
    width: 100%;
    text-align: center;
}

@media (min-width: 768px) { 
    .navegacion a{
        padding: 1rem 2rem;
    }   
}

.navegacion a:hover{
    background-color: var(--blanco);
    opacity: 0.50;
    color: var(--negro);
}

.slogan{
    text-align: center;

}

@media (min-width: 768px) {
     .slogan{   
        text-align: end;
    }    
}

.slogan h1{
    font-size: 3rem;
    margin: 0;
}

@media (min-width: 768px) { 
    .slogan h1{
        font-size: 5rem;
    }
}

.slogan p{
    margin: 0;
    line-height: 1rem;
}