:root {
    --primario: #6834a6;
    --blanco: #FFF;
    --negro: #000000;
    --fuentePrincipal: 'Poppins', sans-serif;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1.8;
}
h1, h2, h3 {
    font-weight: 900;
    margin: 2rem 0;
}
h1 {
    font-size: 5rem;
}
h2 {
    font-size: 4.6rem;
}
h3 {
    font-size: 3rem;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    display: block;
}

[class$="__contenedor"] { /* Le aplica los estilos a todas las clases que contengan "__contenedor"*/
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
}

/* HEADER */
.header{
    background-image: url(../img/header_bg.svg);
    background-repeat: no-repeat;
    background-position: top right;
    padding: 5rem 0 0 0;
    background-size: 10rem;
}

@media (min-width: 768px) {
    .header{
        background-size: 46rem;
    } 
}

@media (min-width: 992px) { 
    .header{
        background-size: 60rem;
    }
}

@media (min-width: 1280px) { 
    .header{
        background-size: 100rem;
    }
}

@media (min-width: 768px) {
    .header__barra{
        display: flex;
        justify-content: space-between;
    }    
}

.header__logo{
    width: 15rem;
    margin: 0 auto 3rem auto;
}

@media (min-width: 768px) { 
    .header__logo{
        margin: 0;
    }
}

.navegacion{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) { 
    .navegacion{
        flex-direction: row;
        align-items: start;
    }
}

.navegacion__link{
    font-weight: 600;
    padding: 1rem 0;
    color: var(--primario);
}

.navegacion__link:hover{
    color: var(--negro);
    transition: 0.5s;
    background-color: #8457ba;
    width: 100%;
    text-align: center;
}

@media (min-width: 768px) { 
    .navegacion__link:first-of-type{
        color: var(--primario);
        font-weight: 600;
    }
    .navegacion__link:hover{
        color: var(--negro);
        transition: 0.5s;
        width: auto;
        background-color: transparent;
    }

    .navegacion__link{
        color: var(--blanco);
        display: flex;
        padding: 0 2rem;
        font-weight: 600;
    }
}

@media (min-width: 992px) {
    .navegacion__link:first-of-type{
        color: var(--blanco);
    }
    .navegacion__link:hover{
        color: var(--negro);
        transition: 0.5s;   
    }    
}

@media (min-width: 768px) { 
    .header__grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
    }
}

.header__texto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) { 
    .header__texto{
        align-items: start;
        padding-top: 10rem;
    }
}

.header__heading{
    text-align: center;
    font-size: 3.5rem;
    line-height: 4rem;
}

@media (min-width: 768px) { 
    .header__heading{
        text-align: start;
        font-size: 5rem;
        line-height: 5.5rem;

    }
}

.header__boton{
    background-color: var(--primario);
    padding: 1rem 0;
    color: var(--blanco);
    width: 100%;
    text-align: center;
    margin-bottom: 5rem;
}

.header__boton:hover{
    background-color: #8457ba;
    color: var(--negro);
    font-weight: 600;
    transition: 0.7s;
}

@media (min-width: 768px) {
    .header__boton{
        width: 60%;
        margin-bottom: 0rem;
    }    
}

@media (min-width: 768px) { 
    .header__imagen{
        max-width: 30rem;
        margin: 0 auto;
    }
}

/* MAIN */

.nucleus__heading{
    margin-top: 0;
    text-align: center;
    margin-bottom: 5rem;    
}

.nucleus__contenedor{
    display: flex;
    flex-direction: column-reverse;
}

@media (min-width: 768px) { 
    .nucleus__contenedor{
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 5rem;  
    }
}

.nucleus__imagen{
  margin-top: 6rem;
    
}

@media (min-width: 768px) { 
    .nucleus__imagen{
        margin-top: 0;
    }
}

@media (min-width: 768px) { 
    .nucleus__contenedor:nth-child(2){
        align-items: center;
    }
}

.listado__elemento{
    box-shadow: 0px 0px 15px 3px rgb(0 0 0 / .3);
    padding: 2rem;
    margin-bottom: 5rem;
    background-color: var(--blanco);
}

.listado__elemento:hover{
    transform: scale(1.1);
    transition-property: transform;
    transition-duration: 0.5s;
}

.listado__heading{
    color: var(--primario);
    font-weight: 900;
    line-height: 3rem;
    margin: 1rem 0;
}

.listado__texto{
    margin: 0;
    font-size: 2rem;
}

/* SECTION : SEGURIDAD */
.seguridad{
    background-color: var(--primario);
    padding: 20rem 0;
    position: relative; /* Relative -> sirver como elemento de referencia para posicionar los elementos hijos*/
    /* Si no existe un elemento con position: relative, tomará el elemento raiz del bloque en este caso <body></body>*/
    margin: 10rem 0;
    overflow: hidden;/* Sirve para eliminar el scroll lateral*/
}
/* Con estos bloques de CSS creamos el efecto de fondo en diagonal*/
.seguridad::before,
.seguridad::after{
    background-color: var(--blanco);
    content: '';
    height: 20rem;
    width: 130%;
    position: absolute; /* Absolute -> se indica en los elementos hijos para posicionarlos respecto al padre que tiene position: relative */
    
}

/* usando pseudoclases le indicamos la posición y la inclinación deseada.*/
.seguridad::before{
    top: -10rem;
    left: 0;
    transform: rotate(5deg);

}

.seguridad::after{
    bottom: -10rem;
    left: 0;
    transform: rotate(-5deg);

}
/* ----------------------------------------------------------------------------------- */
.seguridad__contenedor{
    text-align: center;
    
}

.seguridad__heading{
    color: var(--blanco);
}
.seguridad__imagen{
    margin-bottom: 5rem;
}

@media (min-width: 769px) { 
    .seguridad__grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 5rem;
        justify-content: center;
    }
    .seguridad__imagen{
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        width: 50rem;
    }
  
    .seguridad .listado .listado__elemento:nth-child(3){
        margin-bottom: 0rem;
    }

    .seguridad .listado{
        display: flex;
        flex-direction: column;
        justify-content: center;    
    }


}
